---
layout: handbook-page-toc
title: "Quality Career Framework: Senior Backend Engineer, Engineering Productivity"
description: "These are the expected competencies of a Senior Backend Engineer, Engineering Productivity at GitLab."
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Senior Backend Engineer, Engineering Productivity

<%= partial("handbook/engineering/career-development/matrix/engineering/quality/engineering-productivity/ep_career_matrix_nav.erb") %>

**Senior Backend Engineers, Engineering Productivity at GitLab are expected to exhibit the following competencies:**

* [Leadership Competencies](#leadership-competencies)
* [Technical Competencies](#technical-competencies)
* [Values Alignment](#values-alignment)

---

### Leadership Competencies

<%= partial("handbook/engineering/career-development/matrix/engineering/engineering_senior_leadership_competency.erb") %>

### Technical Competencies

<%= partial("handbook/engineering/career-development/matrix/engineering/engineering_senior_technical_competency.erb") %>

##### Engineering Productivity

This table refers to the responsibility terms that are defined on the [team page](/handbook/engineering/quality/engineering-productivity-team/index.html#areas-of-responsibility).

| Responsibility | Description |
| --- | --- |
| See it and find it | Identify and implement changes to shorten developer feedback loops and implement improvements for  product groups within multiple stages |
| Do it for internal team | Implement productivity improvements with quantifiable benefits for GitLab product groups within multiple stages |
| Dogfood use | Dogfood existing product features to improve the GitLab engineering workflows. Provide feedback to product teams on critical improvements which will improve the feature maturity. |
| Engineering support | Takes initiative in implementing KPI corrective actions and improvements |
| Engineering workflow | Collaborate with product and engineering stakeholders to identify and implement improvements or new automation in support of product and engineering workflows |
| Do it for wider community | Identifies contributor tooling improvements for the wider GitLab community contributors |
| Dogfood build | Implement small enhancements to existing features |

### Values Alignment

<%= partial("handbook/engineering/career-development/matrix/engineering/values_competency.erb") %>
