- if(current_page.data.event_register_url)
  %script{ src: "https://www.eventbrite.com/static/widgets/eb_widgets.js", type: "text/javascript", charset: "utf-8" }
  :javascript
      window.EBWidgets.createWidget(
      {
        widgetType: 'checkout',
        eventId: '105130995638',
        modal: true,
        modalTriggerElementId: 'eventbrite-widget-modal-trigger',
        onOrderComplete: function() 
        {
          console.log('Eventbrite Virtual Commit 2020 order complete');
        }
      });
